{{ define "dataModelTmpl" }}
// region inserterDataModel

type {{.structName.inserterDataModel}} struct {
	{{.packages.model.RefName}}.{{.structName.model}}
	_insertColumns map[string]byte
}

func (receiver {{.structName.inserterDataModel}}) RealInsertData() any {
	return &receiver.{{.structName.model}}
}

func (receiver {{.structName.inserterDataModel}}) GetInsertCols() []string {
	var result []string
	for col := range receiver._insertColumns {
		result = append(result, col)
	}
	return result
}

// endregion
{{ end }}
