{{.AUTO_GENERATED_ANNOTATION}}

package {{.BASE_PACKAGE_NAME}}

type IBaseSelectHandler interface {
	Select(IBaseSelectorParams) (list interface{}, total uint64, err error)
	Single(IBaseSelectorParams) (exist bool, model interface{}, err error)
	Count(IBaseSelectorParams) (total uint64, err error)
}