{{.AUTO_GENERATED_ANNOTATION}}

package {{.BASE_PACKAGE_NAME}}

type IBaseSelectorParams interface {
	TableInfo() TableInfo
	ProvideResultData() interface{}
	GetWhereCondList() *[]IWhereCond
	GetPageCond() IPage
	GetOrderCondList() *[]IOrder
	GetFieldList() *[]IFieldList
}