{{.AUTO_GENERATED_ANNOTATION}}

package {{.packages.base.RefName}}

type IInsertHandler interface {
	Insert(IInserter) (insertCnt int64, pk interface{}, err error)
	BulkInsert(IBulkInserter) (insertCnt int64, pkList []interface{}, err error)
}