{{.AUTO_GENERATED_ANNOTATION}}

package {{.packages.base.RefName}}

type ISelectorParams interface {
	TableInfo() TableInfo
	ProvideResultData() interface{}
	GetWhereCondList() *[]IWhereCond
	GetPageCond() IPage
	GetOrderCondList() *[]IOrder
	GetFieldList() *[]IFieldList
}