{{.AUTO_GENERATED_ANNOTATION}}

package {{.packages.base.RefName}}

type IUpdaterParams interface {
	TableInfo() TableInfo
	GetWhereCondList() *[]IWhereCond
	GetUpdateValItemList() *[]IUpdateValItem
	GetLimit() int
}