{{ define "byIdTmpl" }}
func (receiver *{{.structName.selectorWrapper}}) SingleById(id {{.PK_FIELD_TYPE}}) (exist bool, model *{{.packages.model.RefName}}.{{.structName.model}}, err error) {
	localVar := {{.structName.selectorWrapper}}{}

	localVar.Init(receiver.clientHolder.GetClient())
	localVar.params.page = receiver.params.page
	localVar.params.orderList = receiver.params.orderList
	localVar.params.fieldList = receiver.params.fieldList

	return localVar.AndWhere(func(cond *{{.packages.whereCond.RefName}}.{{.structName.whereCond}}) {
			cond.And().{{.PK_FIELD_NAME_TITLED}}().Equ(id)
		}).Single()
}

// 发生错误直接panic
// 未找到 不会 panic
func (receiver *{{.structName.selectorWrapper}}) MustSingleById(id {{.PK_FIELD_TYPE}}) *{{.packages.model.RefName}}.{{.structName.model}} {
	_, result, err := receiver.SingleById(id)
	if err != nil {
		panic({{.packages.errors.RefName}}.SelectErr("{{.TABLE_NAME}}", err))
	}
	return result
}

// Deprecated: 使用 MustSingleById
func (receiver *{{.structName.selectorWrapper}}) SingleByIdOrPanic(id {{.PK_FIELD_TYPE}}) *{{.packages.model.RefName}}.{{.structName.model}} {
	return receiver.MustSingleById(id)
}

func (receiver *{{.structName.selectorWrapper}}) ListByIds(ids ...{{.PK_FIELD_TYPE}}) (model []{{.packages.model.RefName}}.{{.structName.model}}, err error) {
	localVar := {{.structName.selectorWrapper}}{}

	localVar.Init(receiver.clientHolder.GetClient())
	localVar.params.page = receiver.params.page
	localVar.params.orderList = receiver.params.orderList
	localVar.params.fieldList = receiver.params.fieldList

	return localVar.AndWhere(func(cond *{{.packages.whereCond.RefName}}.{{.structName.whereCond}}) {
			cond.And().{{.PK_FIELD_NAME_TITLED}}().In(ids...)
		}).List()
}

// 发生错误直接panic
// 长度为0 不会 panic
func (receiver *{{.structName.selectorWrapper}}) MustListByIds(ids ...{{.PK_FIELD_TYPE}}) []{{.packages.model.RefName}}.{{.structName.model}} {
	result, err := receiver.ListByIds(ids...)
	if err != nil {
		panic({{.packages.errors.RefName}}.SelectErr("{{.TABLE_NAME}}", err))
	}
	return result
}

// Deprecated: 使用 MustListByIds
func (receiver *{{.structName.selectorWrapper}}) ListByIdsOrPanic(ids ...{{.PK_FIELD_TYPE}}) []{{.packages.model.RefName}}.{{.structName.model}} {
	return receiver.MustListByIds(ids...)
}
{{ end }}