{{.AUTO_GENERATED_ANNOTATION}}

package {{.BASIC_PACKAGE_NAME}}

import (
	{{.packages.base.ImportStatement}}
	{{.packages.inserter.ImportStatement}}
)

type bulkInserterGroup struct {
	client {{.packages.base.RefName}}.IClient
}

{{ range .tables }}
// {{.name}}
func (receiver bulkInserterGroup) {{.name}}() *{{$.packages.inserter.RefName}}.{{.bulkInserterWrapperStructName}} {
    return (&{{$.packages.inserter.RefName}}.{{.bulkInserterWrapperStructName}}{}).Init(receiver.client)
}
{{ end }}