{{.AUTO_GENERATED_ANNOTATION}}

package {{.BASIC_PACKAGE_NAME}}

import (
	{{.packages.base.ImportStatement}}
	{{.packages.deleter.ImportStatement}}
)

type deleterGroup struct {
	client {{.packages.base.RefName}}.IClient
}

{{ range .tables }}
// {{.name}}
func (receiver deleterGroup) {{.name}}() *{{$.packages.deleter.RefName}}.{{.deleterWrapperStructName}} {
    return (&{{$.packages.deleter.RefName}}.{{.deleterWrapperStructName}}{}).Init(receiver.client)
}
{{- end }}