{{.AUTO_GENERATED_ANNOTATION}}

package {{.BASIC_PACKAGE_NAME}}

import (
	{{.packages.base.ImportStatement}}
	{{.packages.updater.ImportStatement}}
)

type updaterGroup struct {
	client {{.packages.base.RefName}}.IClient
}

{{ range .tables }}
// {{.name}}
func (receiver updaterGroup) {{.name}}() *{{$.packages.updater.RefName}}.{{.updaterWrapperStructName}} {
    return (&{{$.packages.updater.RefName}}.{{.updaterWrapperStructName}}{}).Init(receiver.client)
}
{{- end }}