{{.AUTO_GENERATED_ANNOTATION}}

package {{.packages.model.RefName}}

import (
	"encoding/json"

	{{ range .tableImports }}
	    {{- . -}}
	{{ end }}
)

type {{.structName.model}} struct {
	{{ range .column -}}
	    {{.FIELD_NAME_TITLED}} *{{.FIELD_TYPE_WITH_OUT_MODEL_PKG}} {{.FIELD_TAG}}{{ if .COLUMN_COMMENT }} {{.COLUMN_COMMENT}} {{ end }}
	{{ end }}
}

// region getterSetter
{{ range .column -}}
    {{ template "getterSetterFuncsTmpl" . }}
{{- end }}
// endregion

func (receiver *{{.structName.model}}) String() string {
	data, _ := json.Marshal(receiver)
	return string(data)
}