{{ define "orderItemTmpl" }}
{{ if empty .COLUMN_COMMENT | not -}}
    {{.COLUMN_COMMENT}}
{{ else }}

{{- end -}}
func (receiver *{{.structName.orderCond}}) {{.FIELD_NAME_TITLED}}() *{{.packages.baseCond.RefName}}.OrderBuilder {
	cond := {{.packages.baseCond.RefName}}.NewOrderBuilder("{{.COLUMN_NAME}}")
	receiver.conds = append(receiver.conds, cond)
	return cond
}
{{ end }}