{{.AUTO_GENERATED_ANNOTATION}}

package {{.packages.inserter.RefName}}

import (
	{{.packages.model.ImportStatement}}
	{{.packages.base.ImportStatement}}
	{{.packages.errors.ImportStatement}}
	{{ if (empty .DATABASE_DEF_FIELD_NAME | not) }}
	    {{.packages.util.ImportStatement}}
        {{.packages.databaseDef.ImportStatement}}
	{{ end }}

	{{ range .tableImports }}
	    {{- . -}}
	{{ end }}
)

{{ template "dataModelTmpl" . }}
{{ template "inserterStructTmpl" . }}
{{ template "bulkInserterStructTmpl" . }}
