{{ define "columnTmpl" }}
{{ if empty .COLUMN_COMMENT | not -}}
    {{.COLUMN_COMMENT}}
{{ else }}

{{- end -}}
func (receiver *{{.structName.whereCondInner}}) {{.FIELD_NAME_TITLED}}() *{{.packages.baseCond.RefName}}.WhereCondItem[{{.FIELD_TYPE}}] {
	receiver.{{.FIELD_NAME}} = {{.packages.baseCond.RefName}}.NewWhereCondItem[{{.FIELD_TYPE}}]({{.packages.base.RefName}}.Op_AND, "{{.COLUMN_NAME}}")
	return receiver.{{.FIELD_NAME}}
}
{{ end }}