{{ define "filedFuncTmpl" }}
func (receiver *{{.structName.fields}}) {{.FIELD_NAME_TITLED}}() *{{.packages.baseCond.RefName}}.FieldCond {
	tableName := receiver.tableName()
	fieldExpr := baseCond.NewFieldCond(tableName + "{{.COLUMN_NAME}}")
	receiver.fields = append(receiver.fields, fieldExpr)
	return fieldExpr
}
{{ end }}