{{.AUTO_GENERATED_ANNOTATION}}

package {{.packages.databaseDef.RefName}}

import (
    {{ if len .databaseInfos | lt 0 }}
        {{- .packages.base.ImportStatement -}}
    {{ end }}
    {{ range $databaseInfo := .databaseInfos -}}
        {{- if .ShouldUseOutsideConf -}}
            {{- $.packages.outsideConf.ImportStatement -}}
            {{break}}
        {{- end }}
    {{ end }}
)

{{ range .databaseInfos -}}
    {{ if .ShouldUseOutsideConf -}}
        func {{ .FieldName }}() {{$.packages.base.RefName}}.DatabaseInfo { return {{$.packages.base.RefName}}.DatabaseInfo({{$.packages.outsideConf.RefName}}.{{.OutsideConfKey}}) }
    {{- else -}}
        func {{ .FieldName }}() {{$.packages.base.RefName}}.DatabaseInfo { return {{$.packages.base.RefName}}.DatabaseInfo("{{.ActualName}}") }
    {{- end }}
{{ end }}
