{{.AUTO_GENERATED_ANNOTATION}}

package {{.packages.orderCond.RefName}}

import (
	{{.packages.base.ImportStatement}}
	{{.packages.baseCond.ImportStatement}}
)

type {{.structName.orderCond}} struct{ conds []base.IOrder }

// region basicOrder
{{ range .column -}}
    {{ template "orderItemTmpl" . }}
{{- end }}
// endregion


func (receiver *{{.structName.orderCond}}) GetOrderCondList() []{{.packages.base.RefName}}.IOrder {
	return receiver.conds
}

func (receiver *{{.structName.orderCond}}) RAW(sql string) {{.packages.base.RefName}}.IOrder {
	cond := {{.packages.baseCond.RefName}}.OrderRaw(sql)
	receiver.conds = append(receiver.conds, cond)
	return cond
}
